@{
    ViewData["Title"] = "Account geblokkeerd";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Deze account werd geblokkeerd. Probeer later nog eens.</p>
</header>
