<div style="margin-top:1.4em;padding:0 ">
    <table class="table ">
        <thead class="thead-dark ">
            <tr>
                <th>SessieNaam</th>
                <th>SessieCode</th>
                <th>Omschrijving</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="# ">Sessie1</a>
                </td>
                <td>123456</td>
                <td>Enkele Wiskunde oefeningen</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#join-modal">
                        Activeer sessie
                    </button>
                </td>
            </tr>
            <tr>
                <td> <a href="# ">Nederlands Werkwoorden</a></td>
                <td>6547822</td>
                <td>Oefeningen dt</td>
            </tr>
            <tr>
                <td><a href="# ">Grammaire Frans</a></td>
                <td>55654631</td>
                <td>Voulez vous</td>
            </td>
        </tbody>
    </table>
</div>