@model IEnumerable<Session>

@{
    ViewData["Title"] = "Sessies";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @await Html.PartialAsync("_TeacherPartial", Model)
}
else
{
    <div><br /><a class="btn btn-primary" asp-controller="PupilDetail" asp-action="Index">Neem deel aan een sessie</a></div>
    
}