@model IEnumerable<Session>
@{
    ViewData["Title"] = "Sessies";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @await Html.PartialAsync("_TeacherPartial", Model)
}
else
{
<table class="table table-striped">
    <tr>
        <th>Naam</th>
        <th>Beschrijving</th>
        <th></th>
    </tr>
    @foreach (var session in Model)
    {
        if (session.ActiveSession == true)
        {
            <tr>
                <td><a asp-controller="PupilDetail" asp-action="Index" asp-route-id="@session.SessionId">@session.Name</a></td>
                <td>@session.Description</td>
                <td><a asp-controller="PupilDetail" asp-action="Index" asp-route-id="@session.SessionId" class="btn btn-primary pull-right btn-block">Neem deel</a></td>
            </tr>
        }
    }
</table>
}